#bloc_page
{   
     width: 900px;  
       margin: auto; 

}

body
{
    background-image: url(greyzz.png);

}

#titre_principal 
{   
    display: flex;
   
  
} 

.bob
{
  margin-top: 150px;
}

header
{ 
border-bottom: 10px solid rgb(255, 72, 0);

}

nav
 {   
      display: inline-block;  
     width: 740px;  
       text-align: right;
      margin-top: 50px;
      margin-right: 20px;
      color: rgb(248, 122, 50);
       
} 

.imaze
{
    height: 250px;
border: 3px solid rgb(255, 72, 0);
border-radius: 280px 280px;
box-shadow:2px 2px 4px black;
}
section h2, footer h1, nav a
{     
     text-transform: uppercase; 
     
}

section h2
{ 
margin-top: 50px;
border-bottom: 3px solid rgb(255, 72, 0);
text-shadow: 1px 1px 2px black;
}

article, aside 
{    
    display: inline-block;   
     vertical-align: top;   
      text-align: justify;
      width: 400px;
      font-size: 18px;
      line-height: 25px;
      font-family:sans-serif;
 }
 aside
 {
    margin-left: 60px;
 }

#bloc
{
    display: flex;
}

@media screen and (max-width: 1024px) 
{
    #bloc_page  
      {       
           width: auto;
      }
    #bloc
      {
          display: flex;
          flex-direction: column;
      }
    nav   
       {      
             width: auto;      
               text-align: left;  
       } 
       #titre_principal 
{   
    display: flex;
   flex-direction: column;
  
} 

}